<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.BusiInfoMapper">

    <select id="update" parameterType="org.example.entity.BusiInfo">
        update busi_PurchasingLegworkAgent set content = #{content} where id = #{id}
    </select>

    <delete id="delete" parameterType="org.example.entity.BusiInfo">
        deletes from busi_PurchasingLegworkAgent where id = #{id}
    </delete>
</mapper>